.content {
    width: calc(100% - 200px);
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid {
    display: flex;
    align-items: center;
    margin: 10px;
}

.btn {
    cursor: pointer;
}

.center {
    justify-content: center;
}

.right {
    justify-content: end;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 280px;
    height: 270px;
    background: pink;
    margin: 10px;
    display: flex;
}


.list {
    width: 300px;
    box-sizing: border-box;
    margin: 50px auto;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

.main_page {
    margin: 20px;
    align-self: end;
}

@media (min-width:830px) and (max-width:1430px) {
    .container {
        width: 600px;
    }
}

@media (max-width:830px) {
    .container {
        width: 300px;
    }
    header {
        grid-template-columns: 1fr;
        margin: auto;
    }
    .content {
        width: calc(100% - 100px);
    }
}


.image {
    width: 150px;
    height: 230px;
    margin: 20px auto;
    background: rgb(133, 133, 189);
}

.info {
    display: flex;
    flex-direction: column;
}

.name, .genre, .button {
    margin: 10px;
    text-align: center;
}

.like, .dis_like {
    padding: 5px;
    border: 1px solid salmon;
    border-radius: 3px;
    background:  rgb(238, 145, 135);
    cursor: pointer;
}

.none {
    display: none;
}